extends ./layout/default.jade

block title
  title 中大TEAM-活动详情

block append style
  link(rel='stylesheet', href='./css/detail.css')

block content


block append scripts
  script(type='text/javascript', src='./js/activity_detail.js')