extends ./layout/default.jade
include ./mixins/create.jade

block title
  title 中大TEAM-创建活动

block append style
  link(rel='stylesheet', href='./css/create_activity.css')

block content
  .container
    .row
      form
        +activity_title
        +datepicker
    +ueditor

block append scripts
  script(type="text/javascript", src="./public/js/bootstrap-datetimepicker.js", charset="UTF-8")
  script(type="text/javascript") $('#datetimepicker').datetimepicker({format: "dd MM yyyy - hh:ii"});
  script(type='text/javascript', src='./js/create_activity.js')