extends ./layout/default.jade

block title
  title 中大TEAM-登陆

block append style
  link(rel='stylesheet', href='./css/login.css')

block content
  .login
    .login-screen
      .login-icon
        img(alt='Welcome to sysuteam')
      .login-form
        .form-group
          input#login-name.form-control.login-field(type='text', placeholder='Enter your name')
          label.login-field-icon.fui-user(for='login-name')
        .form-group
          input#login-pass.form-control.login-field(type='password', placeholder='Enter your password')
          label.login-field-icon.fui-lock(for='login-pass')
          button.btn.btn-primary.btn-lg Sign in
          button.btn.btn-primary.btn-lg Sign up

block append scripts
  script(type='text/javascript', src='./js/login.js')