extends ./layout/default.jade
include ./mixins/create.jade

block title
  title 中大TEAM-创建活动

block append style
  link(rel='stylesheet', href='./css/create.css')

block content
  .container
    .row
      +title
      +type
      +datepicker
    .row
      +team_limit
      +people_limit
      +tag
    +ueditor
    .row.submit
      .col-md-2.col-sm-2
        button.btn.btn-primary.btn-lg(type='submit', name='person_activity_create') submit

block append scripts
  script(type="text/javascript") $('#datetimepicker').datetimepicker();
  script(type='text/javascript', src='./js/create_activity.js')