extends ./layout/default.jade
include ./mixins/detail.jade

block title
  title 中大TEAM-队伍详情

block append style
  link(rel='stylesheet', href='./css/detail.css')

block content
  .container
    +activity_post
    +team_info
    +team_member
    hr
    +comments
    +ueditor

block append scripts
  script(type='text/javascript', src='./js/index.js')