extends ./layout/default.jade

block title
  title 中大TEAM-首页

block append style
  link(rel='stylesheet', href='./css/userinfo.css')

block content

block append scripts
  script(type='text/javascript', src='./js/userinfo.js')