extends ./layout/default.jade

block title
  title 中大TEAM-首页

block append style
  link(rel='stylesheet', href='./css/userinfo.css')

block content
  .container
    .row
      .col-sm-3.col-md-3
        .row
          img(src='', alt='user avatar')
          h3 Name 
          p
            span.btn.btn-sm.btn-primary tag-1
            span.btn.btn-sm.btn-danger tag-2
            span.btn.btn-sm.btn-info tag-3
        .row
          h3 Notifications...
          .col-sm-5.col-md-5
            img(src='', alt='avatar')
          .col-sm-7.col-md-7
            span name
      .col-sm-9.col-md-9
        .row
          .col-sm-4.col-md-4
            .thumbnail
              img(src='', alt='activity name')
              .caption
                h3 Titile
                p describe
                p
                  button.btn.btn-danger Status
                  button.btn.btn-info Detail
        .row
          .pagination
            ul
              li.previous
                a.fui-arrow-left(href='')
              li.active
                a(href='') 1
              li
                a(href='') 2
              li.next
                a.fui-arrow-right(href='')

block append scripts
  script(type='text/javascript', src='./js/userinfo.js')