extends ./layout/default.jade
include ./mixins/index.jade

block title
  title 中大TEAM-首页

block append style
  link(rel='stylesheet', href='/dist/css/sysuteam/index.css')

block content
  .container
    +carousel_index
    +category
    +activities
    +pages_index

block append scripts
  script(type='text/javascript', src='/dist/js/sysuteam/index.js')