extend layout

block append head
  link(href="/dist/css/sysuteam/login.css", rel="stylesheet")

block title
  title 中大TEAM-登陆
 
block content
  #mycontainer
    form.centerdiv
      .input-group
        span#basic-addon1.input-group-addon 用户
        input.form-control(type="text", placeholder="Username", aria-describedby="basic-addon1" id="username")
      br
      .input-group
        span#basic-addon1.input-group-addon 密码
        input.form-control.password(type="password", placeholder="password", aria-describedby="basic-addon1" id="password")
      br
      button(type="button").centerdiv_bt.btn.btn-embossed.btn-primary.btn-wide#login_btn
        | 登陆

  block extrajs
    script(src="/dist/js/login.js")
