extends ./layout/default.jade
include ./mixins/detail.jade

block title
  title 中大TEAM-活动详情

block append style
  link(rel='stylesheet', href='/dist/css/sysuteam/detail.css')

block content
  .container
    +activity_post
    +activity_info
    +team_list
    hr
    +comments
    +ueditor

block append scripts
  script(type='text/javascript', src='/dist/js/activity_detail.js')