doctype html
html
  head
    meta(charset="utf-8")
    title 中大TEAM-login
    // Loading Bootstrap
    link(href="dist/css/bootstrap.css", rel="stylesheet")
    // Loading Flat UI
    link(href="dist/css/flat-ui.min.css", rel="stylesheet")
    // Loading SYSUTEAM
    link(href="dist/css/sysuteam/start.css", rel="stylesheet")
    link(href="dist/css/sysuteam/general.css", rel="stylesheet")
  body
    nav.navbar.navbar-default(role="navigation")
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-01")
          span.sr-only Toggle navigation
        a.navbar-brand(href="#") 中大TEAM
      #navbar-collapse-01.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            p.navbar-text
              a.navbar-link(href="#") 登陆
        // 搜索
        form.navbar-form.navbar-right(action="#", role="search")
          .form-group
            .input-group
              input#navbarInput-01.form-control(type="search", placeholder="Search")
              span.input-group-btn
                button.btn(type="submit")
                  span.fui-search
      // /.navbar-collapse
    // /navbar
    #mycontainer
      .main
        #basicinfo
          h4 属于中大校内活动的线上组队报名平台
          p 把活动做简单，把组队做简单
          p
            a.btn.btn-primary.btn-lg(href="#", role="button") &#36827;&#20837;&#39318;&#39029;
        #register
          form.centerdiv
            .input-group
              span#basic-addon1.input-group-addon 邮箱
              input.form-control(type="text", placeholder="email", aria-describedby="basic-addon1")
            .input-group
              span#basic-addon1.input-group-addon 用户
              input.form-control(type="text", placeholder="Username", aria-describedby="basic-addon1")
            .input-group
              span#basic-addon1.input-group-addon 密码
              input.form-control.password(type="text", placeholder="password", aria-describedby="basic-addon1")
            .input-group
              span#basic-addon1.input-group-addon 确认
              input.form-control.password(type="text", placeholder="password comfirm", aria-describedby="basic-addon1")
            // 技能标签
            // Primary tags input
            span(style="font-size:15px; color:#1ABC9C;") 请输入你的技能
            .tagsinput-primary
              input.tagsinput(type="text", name="tagsinput", data-role="tagsinput", value="设计, 编程, 排球")
            button.centerdiv_bt.btn.btn-embossed.btn-primary.btn-wide
              | 立刻注册
    // footer
    footer#footer
      p.copyright.text-muted.small Copyright &#169; NO.4 2015. All Rights Reserved
    // js
    script(src="dist/js/vendor/jquery.min.js")
    script(src="dist/js/vendor/video.js")
    script(src="dist/js/flat-ui.min.js")