extend layout

block append head
  link(href="/dist/css/sysuteam/userinfo.css", rel="stylesheet")

block title
  title 中大TEAM-用户信息
 
block content
  #mycontainer
    #user_img
      img.img-circle.user_portrait(alt="140x140", data-src="/holder.js/140x140", src="", data-holder-rendered="true")
    .user_info
      h5 郑越升
      p 软件学院 13331365
      .myskills
        span.label.label-primary 编程
        span.label.label-success 设计
        span.label.label-info 篮球
        span.label.label-warning 绘画
        span.label.label-danger 展示
    .user_dynamic
      // 活动
      .row.activities_row
        .col-sm-6.col-md-4
          .thumbnail
            img(data-src="/holder.js/100%x200", alt="...")
            .caption
              h6 活动名字
              span 主办方：
              span 时间：
              p.activity_bts
                a.btn.btn-primary(role="button", href="#") 详情
                a.btn.btn-danger(role="button", href="#") 队伍
        .col-sm-6.col-md-4
          .thumbnail
            img(data-src="/holder.js/100%x200", alt="...")
            .caption
              h6 活动名字
              span 主办方：
              span 时间：
              p.activity_bts
                a.btn.btn-primary(role="button", href="#") 详情
                a.btn.btn-danger(role="button", href="#") 队伍
        .col-sm-6.col-md-4
          .thumbnail
            img(data-src="/holder.js/100%x200", alt="...")
            .caption
              h6 活动名字
              span 主办方：
              span 时间：
              p.activity_bts
                a.btn.btn-primary(role="button", href="#") 详情
                a.btn.btn-danger(role="button", href="#") 队伍
      .row.activities_row
        .col-sm-6.col-md-4
          .thumbnail
            img(data-src="/holder.js/100%x200", alt="...")
            .caption
              h6 活动名字
              span 主办方：
              span 时间：
              p.activity_bts
                a.btn.btn-primary(role="button", href="#") 详情
                a.btn.btn-danger(role="button", href="#") 队伍
        .col-sm-6.col-md-4
          .thumbnail
            img(data-src="/holder.js/100%x200", alt="...")
            .caption
              h6 活动名字
              span 主办方：
              span 时间：
              p.activity_bts
                a.btn.btn-primary(role="button", href="#") 详情
                a.btn.btn-danger(role="button", href="#") 队伍
        .col-sm-6.col-md-4
          .thumbnail
            img(data-src="/holder.js/100%x200", alt="...")
            .caption
              h6 活动名字
              span 主办方：
              span 时间：
              p.activity_bts
                a.btn.btn-primary(role="button", href="#") 详情
                a.btn.btn-danger(role="button", href="#") 队伍
      .row.activities_row
        .col-sm-6.col-md-4
          .thumbnail
            img(data-src="/holder.js/100%x200", alt="...")
            .caption
              h6 活动名字
              span 主办方：
              span 时间：
              p.activity_bts
                a.btn.btn-primary(role="button", href="#") 详情
                a.btn.btn-danger(role="button", href="#") 队伍
        .col-sm-6.col-md-4
          .thumbnail
            img(data-src="/holder.js/100%x200", alt="...")
            .caption
              h6 活动名字
              span 主办方：
              span 时间：
              p.activity_bts
                a.btn.btn-primary(role="button", href="#") 详情
                a.btn.btn-danger(role="button", href="#") 队伍
        .col-sm-6.col-md-4
          .thumbnail
            img(data-src="/holder.js/100%x200", alt="...")
            .caption
              h6 活动名字
              span 主办方：
              span 时间：
              p.activity_bts
                a.btn.btn-primary(role="button", href="#") 详情
                a.btn.btn-danger(role="button", href="#") 队伍
      // 页码
      .pagination.pagination-success.rightdiv
        a.btn.btn-success.previous(href="#") Previous
        ul
          li
            a(href="#") 1
          li
            a(href="#") 2
          li
            a(href="#") 3
        a.btn.btn-success.next(href="#") Next



  block extrajs
    script(src="/dist/js/application.js")