extends ./layout.jade

block style
  link(rel='stylesheet', href='./public/css/bootstrap.min.css')
  link(rel='stylesheet', href='./public/css/bootstrap-datetimepicker.min.css')
  link(rel='stylesheet', href='./public/css/flat-ui.min.css')
  link(rel='stylesheet', href='./css/global.css')

block navigation
  nav.navbar.navbar-default(role='navigation')
    .navbar-header
      a.navbar-brand(href='./index.html') 中大TEAM
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          p.navbar-text
            a.navbar-link(href='./login.html') Sign in
        li
          p.navbar-text
            a.navbar-link(href='./register.html') Sign up
      form.navbar-form.navbar-right(role='search', action='#')
        .form-group.input-group
          input.form-control(type='search', placeholder='Search Activities and Teams')
          span.input-group-btn
            button.btn(type='submit')
              span.fui-search

block footer
  footer
    p.text-center Copyright &#169; sysuteam 2015. All Rights Reserved

block scripts
  script(type='text/javascript', src='./public/js/jquery.min.js')
  script(type='text/javascript', src='./public/js/bootstrap.min.js')
  script(type='text/javascript', src='./public/js/bootstrap-datetimepicker.min.js')
  script(type='text/javascript', src='./public/js/flat-ui.min.js')